html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/03c61bf1-2b1c-4a2f-bb3e-f16dea168d7a/depxovq-0a0bcf8d-7322-44bc-b823-00568cb14a82.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzAzYzYxYmYxLTJiMWMtNGEyZi1iYjNlLWYxNmRlYTE2OGQ3YVwvZGVweG92cS0wYTBiY2Y4ZC03MzIyLTQ0YmMtYjgyMy0wMDU2OGNiMTRhODIuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.LXaSXidSwUAfHy5NS0DLNdZmfossXzrj5J73kFnVhZ8)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options-container {
  display: flex;
  height: 10vh;
  width: 90vh;
  justify-content: space-between;
}

.player-choose {
  background: none;
  border: 0;
  padding: 0;
  width: 20vh;
}

.text {
  filter: blur(0.48px);
}

#round-result,
#match-score {
  margin: 5px;
}

#space {
  display: flex;
  height: 72.5vh;
  align-items: center;
}

#game-winner {
  font-size: xx-large;
  text-shadow: 0 0 8px rgb(36, 36, 36), 0 0 8px rgb(36, 36, 36),
    0 0 8px rgb(36, 36, 36), 0 0 8px rgb(36, 36, 36);
}

#rock,
#paper,
#scissors {
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(-4px 2px 10px #272727);
}

#rock {
  background-image: url(https://pbs.twimg.com/media/D8Kygw6XYAEeEg8.png);
  background-size: 56%;
  background-position-y: bottom;
  filter: blur(0.42px);
}

#paper {
  background-image: url(https://i.pinimg.com/originals/0e/7e/3f/0e7e3fc55485afcf7a41befb65fc3749.png);
  background-size: 57%;
}

#scissors {
  background-image: url(https://pixelartmaker-data-78746291193.nyc3.digitaloceanspaces.com/image/ed016bcb275821f.png);
  background-size: 100%;
}
